__pycache__/
src/__pycache__/
.idea/

# Other ignores can be added here, for example:
*.pyc          # Ignore Python compiled files
*.pyo          # Ignore optimized Python files
*.pyd          # Ignore Windows dynamic module files
